.containerFormulaire
{
    width:900px;
    margin-left:auto;
    margin-right:auto;
    min-height: 300px;
    margin-top:10px;
    margin-bottom:10px;
}

.ligneFormulaire
{
    width:860px;
    height:41px;
    margin-top: 2px;
    margin-bottom:2px;
}

.textBoxRound
{
    -webkit-border-radius: 15px;
    border-radius: 3px;
}

.elementFormulaire
{
    width: 350px;
    height: 33px;
    float: left;
}

.elementFormulaireTexte
{
    width: 210px;
    height: 33px;
    float: left;
}

.elementFormulaireRequired
{
    width: 270px;
    height: 33px;
    float: left;
}