.containerFormulaire
{
    width:900px;
    margin-left:auto;
    margin-right:auto;
    min-height: 300px;
    margin-top:10px;
    margin-bottom:10px;
}

.ligneFormulaire
{
    width:860px;
    height:41px;
    margin-top: 2px;
    margin-bottom:2px;
}

.textBoxRound
{
    -webkit-border-radius: 15px;
    border-radius: 3px;
}

.elementFormulaire
{
    width: 350px;
    height: 33px;
    float: left;
}

.elementFormulaireTexte
{
    width: 210px;
    height: 33px;
    float: left;
}

.elementFormulaireRequired
{
    width: 270px;
    height: 33px;
    float: left;
}

.permissionHeight
{
    height: 33px;
    font-size: 16px;
    width: 210px;
}

.permissionTitle
{
    color: Gray;
    margin-top: 20px;
    font-size: 18px;
    font-weight:bold;
}

.supprimerBoutonEmploye
{
    height: 28px;
    margin-top: 5px;
    margin-bottom:5px;
}

.ligneFormulaireDescription
{
    width:860px;
    height:150px;
    margin-top: 2px;
    margin-bottom:2px;
}

.modifierCoursGauche
{
    width:510px;
    height:auto;
    float:left;
}

.modifierCoursDroite
{
    width:340px;
    height:auto;
    float:left;
}

.partiGaucheCours
{
    width:100px;
    float:left;
    font-size:small;
    font-weight:bold
}

.partiDroiteCours
{
    width:220px;
    float:left;
}
.partiGaucheCoursDate
{
    width:200px;
    float:left;
    font-size:small;
    font-weight:bold
}
.partiDroiteCoursDate
{
    width:120px;
    float:left;
}
.ligneCoursNormalLabelGauche
{
    height: 16px;
    width: 120px;
}

.ligneCoursDescriptionLabel
{
    height: 130px;
    width: 130px;
}

.ligneCoursNormal
{
    height: 16px;
    width: 230px;
}

.ligneCoursDescription
{
    height: 130px;
    width: 390px;
}

.boutonAdminRetour
{
    width: 80px;
    height: 25px;
    margin-top:20px;
    float: right;
}

.boutonAdminRetourDelete
{
    width: 300px;
    height: 25px;
    margin-top:20px;
    float: right;
}

.boutonMaster
{
    float:left;
    height:42px;
    width:100px;
}

.ligneRabaisEnfant
{
    width: 880px;
    height:35px;
    padding-top:4px;
    float:left;
}

.ddlGroupeAgeMod
{
    margin-top: 7px;
}

.lnkButtonCategorie
{
    width: 150px;
    height: 32px;
}

.ligneAnimateur
{
    height: 20px;
    width: 800px;
    float:left;
}

.blockNomAnimateur1
{
    height: 20px;
    width: 200px;
    float: left;
    text-align: left;
    background-color:Gray;
}

.blockNomAnimateur2
{
    height: 20px;
    width: 200px;
    float: left;
    text-align: left;
    background-color:white;
}

.blockCours1
{
    height: 20px;
    width: auto;
    float: left;
    text-align: center;
    background-color:Gray;
}

.blockCours2
{
    height: 20px;
    width: auto;
    float: left;
    text-align: center;
    background-color:white;
}
