.titlePanier
{
    color:Black;
    font-size:19px;
}

.panierNomTitre
{
    margin-bottom:20px;
    width:180px;
    font-size:20px;
    font-weight:bolder;
    float:left;
}

.panierGroupeTitre
{
    margin-bottom:20px;
    width:140px;
    font-size:20px;
    font-weight:bold;
    float:left;
}

.panierAbonneTitre
{
    margin-bottom:20px;
    width:220px;
    font-size:20px;
    font-weight:bold;
    float:left;
}

.panierPrixTitre
{
    margin-bottom:20px;
    width:80px;
    font-size:20px;
    font-weight:bold;
    float:left;
}

.statusTitre
{
    margin-bottom:20px;
    width:90px;
    font-size:20px;
    font-weight:bold;
    float:left;
}


.panierNom
{
    width:180px;
    float:left;
}

.panierGroupe
{
    width:140px;
    float:left;
}

.panierAbonne
{
    width:220px;
    float:left;
}

.panierPrix
{
    width:80px;
    float:left;
}

.panierStatus
{
    width:90px;
    float:left;
}
.panierSupprime
{
    margin-left:40px;
    float:left; 
}

.panier
{
    width:860px;
    height:auto;
    margin-right:20px;
    margin-top:10px;
    margin-bottom:10px;
    float:left;
}

.panierItem
{
    height:20px;
    margin-top:10px;
    margin-bottom:10px;
}



.labelTotal
{
    width:640px;
    margin-top:30px;
    margin-right:20px;
    font-weight:900;
    font-size:22px;
    text-align:right;
    float:left;
}

.total
{
    margin-top:30px;
    width:100px;
    font-weight:500;
    font-size:18px;
    text-align:right;
    float:left;
}

.boutonPanierRetour
{
    width: 620px;
    height: 25px;
    margin-top:30px;
    text-align:right;
    float: left;
}

.boutonPanierConfirme
{
    width: 120px;
    height: 25px;
    margin-top:30px;
    margin-left:20px;
    float: left;
}

.formatZoneDDL
{
    margin-right:10px;
    float:left;
}

.formatZoneDate
{
    font-weight:bold;
    margin-right:10px;
    margin-top:5px;
    float:left;
}

.sectionConfirme
{
    width:860px;
    margin-top:40px;
    float:left;
}

.montantTotal
{
    width:140px;
    text-align:center;
    font-size:18px;
    font-weight:bolder;
    float:left;
}

.confirmeAchat
{
    
}




