
.enteteCategory
{
    height:60px;
    width: 900px;
    margin-left:auto;
    margin-right:auto;
}

.enteteTexteBlock
{
    width:300px;
    height:60px;
    float:left;
}

.enteteTexteBlockInscription
{
    width:700px;
    height:60px;
    float:left;
}

.enteteBanner
{
    width:600px;
    height:60px;
    float:right;
}

.blockCours
{
    width: 900px;
    height:195px;
    float:left;
}

.blockNormal
{
    width:225px;
    height:25px;
    float: left;
    text-align:center;
    
}

.blockDate
{
    width:225px;
    height:40px;
    float: left;
    text-align:center;
    
}

btnPadding
{
    padding-bottom:auto;
    margin-top:5px;
}

.blockTarif
{
    width: 112px;
    height:45px;
    float:left;
}
.blockJeMinscris
{
    width:226px;
    height:45px;
    float:left;
    text-align:center;
}

.blockDescription
{
    width:450px;
    height: 150px;
    float:left;
}

.blockInfos
{
    width: 880px;
    height:auto;
    float: left;
    margin-left:auto;
    margin-right:auto;
    padding-left:20px;
}
.blockCout
{
    width: 880px;
    height: 25px;
    float: left;
    margin-left:auto;
    margin-right:auto;
    padding-left:20px;
}

.blockTarif
{
    height: 30px;
    width: 150px;
    float:left;
}

.blockBoutonInscription
{
    height: 30px;
    width: 580px;
    float:left; 
}

.infoCours
{
    width:880px;
    height:auto;
    margin-top:10px;
    margin-bottom:10px;
    float:left;
}

.blockGroupe
{
    padding-left:20px;
    height: auto;
    width:auto;
    float: left;
}

.blockGroupeLigne
{
    width:auto;
    max-width:900px;
    height:35px;
    float:left;
}
