.contenuClient
{
   width:900px;
   height:auto;
   min-height:400px;
   margin-top:10px;
   margin-bottom:10px;
   margin-left:auto;
   margin-right:auto; 
   overflow:hidden;
}

.contenuFamille
{
    margin-top:10px;
    width:920px;
    min-height:400px;
    height:auto;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:10px;
    background-color: White;
    box-shadow: 0 3px 3px rgba(50, 50, 50, 0.25);
    border-radius: 15px;
    padding: 10px;
}

.section
{
    background-color:#1b1bb3;
    height:30px;
    box-shadow:0 3px 3px rgba(50,50,500.25);
    border-radius:5px;
    margin-top:5px;
    margin-bottom:5px;    
    float:left;
}

.sectionTitre
{
    width:880px;
    margin-right:10px;
    margin-left:10px;
    height:30px;
    color:#ffbf00;
    font-weight:bold;
    font-size:18px;
    padding-top:4px;
    
}

.sectionTitreRight
{
    text-align:right;
    float:right;
}
.sectionTitreRight a
{
    color:#ffbf00;
}

.sectionTitreRight a:hover
{
    color:#ffffff;
    text-decoration:none;
}

.titleFamille
{
    color:Black;
    font-size:22px;
    margin-left:10px;
    margin-bottom:20px;
}

.membreInfo
{
    height:auto;
    float:left;
}

.clientInfoGauche
{
    width:430px;
    height:auto;
    float:left;
}

.clientEditInfo
{
    width:860px;
    height:auto;
    float:left;
}

.clientInfoDroite
{
    width:430px;
    height:auto;
    float:left;
}

.clientValidation
{
    float:left; 
    width:450px;
    padding-bottom:20px;
}

.formatLigne
{
    height:10px;
}

.clientInfoEdit
{
    width:860px;
    height:auto;
    float:left;
}


.modifierBouton
{
    height:20px;
    margin-top:3px;
    font-weight:bolder;
    font-size:14px;
    float:left;
    color:#1b1bb3;
}

.modifierBouton a:hover
{
    color:#ffbf00;
    text-decoration:none;
}

.afficherFamille
{
    padding-top:4px;
    font-weight:bolder;
    font-size:16px;
    float:left;
    color:#1b1bb3;
}

.afficherFamille a:hover
{
    color:#ffbf00;
    text-decoration:none;
}

.supprimerFamille
{
    margin-left:50px;
    padding-top:4px;
    font-weight:bolder;
    font-size:16px;
    float:left;
    color:#1b1bb3;
}

.supprimerFamille a:hover
{
    color:#fe0202;
    text-decoration:none;
}

.titre
{
    font-size:20;
    font-weight:bold;
    float:left;
}

.contenu
{
    font-size:16;
    margin-top:5px;
    float:left;
}

.bouton
{
    width: 800px;
    height: 40px;
    margin-top:20px;
    float: left;
}

.boutonTexte
{
    width: 210px;
    height: 25px;
    float: left;
}

.formatZone
{
    margin-bottom:5px;
    height:10px;
    font-size:16px;
    font-weight:bolder;
}

.validationCourriel
{
    width:auto;
    padding-top:20px;
    margin-left:15px;
    float:left; 
}

.validationMotPasse
{
    width:auto;
    padding-top:5px;
    float:left; 
}

.boutonSelection
{
    width: 860px;
    height: 25px;
    margin-top:20px;
    float: left;
}
