.contenuPage
{
    position:relative;
    width:920px;
    height:auto;
    min-height:400px;
    background-color:White;
    box-shadow:0 3px 3px rgba(50,50,50,0.25);
    margin-left:auto;
    margin-right:auto;
    border-radius:15px;
    padding:10px;
}

.contenuClient
{
   width:900px;
   height:auto;
   min-height:400px;
   margin-top:10px;
   margin-bottom:10px;
   margin-left:auto;
   margin-right:auto; 
   overflow:hidden;
}

.section
{
    background-color:#1b1bb3;
    width:900px;
    height:30px;
    box-shadow:0 3px 3px rgba(50,50,500.25);
    border-radius:5px;
    margin-top:5px;
    margin-bottom:5px;    
    float:left;
}

.sectionTitre
{
    width:880px;
    margin-right:10px;
    margin-left:10px;
    height:30px;
    color:#ffbf00;
    font-weight:bold;
    font-size:18px;
    padding-top:4px;
    
}

.sectionTitreRight
{
    text-align:right;
    float:right;
}
.sectionTitreRight a
{
    color:#ffbf00;
}


.sectionTitreRight a:hover
{
    color:#ffffff;
    text-decoration:none;
}

.infoClient
{
    width:860px;
    height:auto;
    margin-left:20px;
    margin-right:20px;
    margin-top:10px;
    margin-bottom:10px;
    float:left;
}

.clientInfoGauche
{
    width:430px;
    height:auto;
    float:left;
}

.clientEditInfo
{
    width:860px;
    height:auto;
    float:left;
}

.clientInfoDroite
{
    width:430px;
    height:auto;
    float:left;
}

.clientValidation
{
    float:left; 
    width:500px;
    padding-bottom:20px;
}

.formatLigne
{
    height:10px;
}

.clientInfoEdit
{
    width:860px;
    height:auto;
    float:left;
}

.partiGauche
{
    width:130px;
    float:left;
    font-size:small;
    font-weight:bold
}

.partiDroite
{
    width:230px;
    float:left;
}

.carteCredit
{
    float:left;
}

.modifierBouton
{
    height:20px;
    margin-top:3px;
    margin-left:20px;
    font-weight:bolder;
    font-size:14px;
    float:left;
    color:#1b1bb3;
}

.modifierBouton a:hover
{
    color:#ffbf00;
    text-decoration:none;
}

.clientMotPasse
{
    width:860px;
    height:auto;
    margin-left:20px;
    margin-right:20px;
    margin-top:10px;
    margin-bottom:10px;
    float:left;  
}

.partiGaucheMotPasse
{
    width:100px;
    float:left;
    font-size:small;
    font-weight:bold;
    line-height:25px;
}

.partiDroiteMotPasse
{
    float:left;
    margin-left:10px;
    line-height:25px;
}

.famille
{
    width:860px;
    height:auto;
    margin-left:20px;
    margin-right:20px;
    margin-top:10px;
    margin-bottom:10px;
    float:left;  
}

.afficherFamille
{
    margin-left:120px;
    padding-top:4px;
    font-weight:bolder;
    font-size:16px;
    float:left;
    color:#1b1bb3;
}

.afficherFamille a:hover
{
    color:#ffbf00;
    text-decoration:none;
}

.supprimerFamille
{
    margin-left:50px;
    padding-top:4px;
    font-weight:bolder;
    font-size:16px;
    float:left;
    color:#1b1bb3;
}

.supprimerFamille a:hover
{
    color:#fe0202;
    text-decoration:none;
}

.titreGauche
{
    width:430px;
    font-size:20;
    font-weight:bold;
    float:left;
}

.titreDroit
{
    font-size:20;
    font-weight:bold;
    float:left;
}

.contenuGauche
{
    width:425px;
    font-size:16;
    margin-left:10px;
    margin-top:5px;
    float:left;
}

.contenuDroit
{
    font-size:16;
    margin-top:5px;
    float:left;
}

.abonnement
{
    width:860px;
    height:auto;
    margin-left:20px;
    margin-right:20px;
    margin-top:10px;
    margin-bottom:10px;
    float:left;
}

.bouton
{
    width: 350px;
    height: 25px;
    margin-top:20px;
    float: left;
}

.boutonTexte
{
    width: 210px;
    height: 25px;
    float: left;
}

.formatZone
{
    height:10px;
}
