.menuPageGauche
{
    width:420px;
    float:left;
}

.menuPageDroit
{
    width:500px;
    float:left;
}

.entetePage
{
    width:920px;
    margin-bottom:100px;
    height:auto;
}

.boutonEntete
{
    float:left;
    height:40px;
}

.contenuPage
{
    position:relative;
    width:920px;
    height:auto;
    min-height:400px;
    background-color:White;
    box-shadow:0 3px 3px rgba(50,50,50,0.25);
    margin-left:auto;
    margin-right:auto;
    border-radius:15px;
    padding:10px;
    overflow:hidden;
}

.contenuStandard
{
   width:900px;
   height:auto;
   min-height:400px;
   margin-top:10px;
   margin-bottom:10px;
   margin-left:auto;
   margin-right:auto; 
   overflow:hidden;
}

.separateur
{
    width:860px;
    clear:both;
}