.containerFormulaire
{
    width:900px;
    margin-left:auto;
    margin-right:auto;
    min-height: 300px;
    margin-top:10px;
    margin-bottom:10px;
}

.ligneFormulaire
{
    width:860px;
    height:41px;
    margin-top: 2px;
    margin-bottom:2px;
}

.validation
{
    float:left;
    margin-left:5px;
    padding-bottom:20px;
}

.validationListe
{
    width:640px;
    float:left;
    height:auto;
}

.menuPageGauche
{
    width:420px;
    float:left;
}

.menuPageDroit
{
    width:500px;
    float:left;
}

.entetePage
{
    width:920px;
    margin-bottom:100px;
    height:auto;
}

.boutonEntete
{
    float:left;
    height:40px;
}

.contenuPage
{
    position:relative;
    width:920px;
    height:auto;
    min-height:400px;
    background-color:White;
    box-shadow:0 3px 3px rgba(50,50,50,0.25);
    margin-left:auto;
    margin-right:auto;
    border-radius:15px;
    padding:10px;
    overflow:hidden;
}

.contenuStandard
{
   width:860px;
   height:auto;
   min-height:400px;
   margin-top:10px;
   margin-bottom:10px;
   margin-left:auto;
   margin-right:auto; 
   overflow:hidden;
}

.separateur
{
    width:860px;
    clear:both;
}

.gridView
{
    margin:5px;
    width:680px;
}

.gridView th
{
    padding: 4px 2px;   
    color: #fff;    
    border-left: solid 1px #525252;   
    font-size: 18px; 
    background-color:#1800B8;
    font-weight: bold; 
    text-align:center;
}

.gridView td
{
    text-align:center;
    font-weight: bold;
    height: 35px;
}