.infoClient
{
    width:860px;
    height:auto;
    margin-left:20px;
    margin-right:20px;
    margin-top:10px;
    margin-bottom:10px;
    float:left;
}

.partiGaucheCourriel
{
    width:230px;
    float:left;
    font-size:small;
    font-weight:bold
}

.partiDroiteCourriel
{
    width:230px;
    float:left;
}

.validation
{
    width:auto;
    padding-top:30px;
    float:left; 
}

.boutonCourriel
{
    width: 860px;
    height: 25px;
    margin-top:20px;
    float: left;
}