.operationEmploye
{
    width:860px;
    height:90px;
    margin-left:20px;
    margin-right:20px;
    margin-top:10px;
    margin-bottom:10px;
    float:left;
}

.contenuOperationEmploye
{
    font-size:20;
    font-weight:bold;
    float:left;
}

.contenuOperation
{
    margin-left:20px;
}

.contenuBouton
{
    width:270px;
    float:left;
    text-align:center;
}


