.operationEmploye
{
    width:860px;
    height:auto;
    margin-left:20px;
    margin-right:20px;
    margin-top:10px;
    margin-bottom:10px;
    float:left;
}

.contenuOperation
{
    margin-left:20px;
}
