.title
{
    color:Black;
    font-size:19px;
}

.boutonGroupeRetour
{
    height: 25px;
    text-align:right;
    float: left;
}

.boutonGroupeAjout
{
    height: 25px;
    margin-top:30px;
    margin-left:20px;
    float: left;
}

.groupeBouton
{
    margin-left:20px;
    width:460px;
    height:auto;
    float:left;
}

.partiDroiteMax
{
    width:250px;
    margin-left:10px;
    float:left;
}

.partiGaucheGroupe
{
    width:350px;
    height:auto;
    float:left;
}

.partiDroiteGroupe
{
    margin-left:50px;
    float:left;
}

.interieurGauche
{
    width:150px;
    font-size:small;
    font-weight:bold;
    float:left;
}

.interieurDroit
{
    width:150px;
    float:left;
}

.gauche
{   
    width:180px;
    height:auto;
    font-size:large;
    margin-bottom:10px;
    float:left;
    
}

.droit
{
    width:130px;
    height:auto;
    text-align:center;
    font-size:large;
    margin-bottom:10px;
    float:left;
}