.jourSemaine
{
    width:400px;
    height:100px;
    padding:10px;
    float:left;
    border:2px solid black;
    margin-left:20px;
    margin-bottom:10px;
}

.interieurGaucheHoraire
{
    width:130px;
    font-size:small;
    font-weight:bold;
    float:left;
}

.interieurDroitHoraire
{
    width:100px;
    float:left;
}

.local
{
    width:900px;
    float:left;
}

.titreJourSemaine
{
    width:250px;
    font-size:20;
    font-weight:bold;
    float:left;
}

.titreHeureDebut
{
    width:250px;
    font-size:20;
    font-weight:bold;
    float:left;
}

.titreHeureFin
{
    width:250px;
    font-size:20;
    font-weight:bold;
    float:left;
}

.validationLocal
{
    width:160px;
    float:left;
}

.validationHoraire
{
}