.ligneHoraire
{
    width:900px;
    font-size:18px;
    float:left;
}

.partiHoraire
{
    width:430px;
    font-size:18px;
    float:left;
}

.jourSemaine
{
    width:400px;
    height:100px;
    padding:10px;
    float:left;
    margin-left:20px;
    margin-bottom:10px;
}

.interieurGaucheHoraire
{
    width:150px;
    font-size:small;
    font-weight:bold;
    float:left;
}

.interieurDroitHoraire
{
    width:100px;
    float:left;
}

.local
{
    width:900px;
    float:left;
}

.sectionJourSemaine
{
    width:200px;
    text-align:center;
    float:left;
}

.sectionHeureDebut
{
    width:155px;
    text-align:center;
    float:left;
}

.sectionHeureFin
{
    width:140px;
    text-align:center;
    float:left;
}

.sectionLocal
{
    width:80px;
    text-align:center;
    float:left;
}

.sectionDelete
{
    width:100px;
    text-align:center;
    float:left;
}

.sectionModify
{
    width:130px;
    text-align:center;
    float:left;
}

.validationLocal
{
    float:left;
    font-weight:bolder;
}

.validationHoraire
{
    
}

.horaireGauche
{
    width:431px;
    float:left;
}

.horaireDroit
{
    width:429px;
    float:left;
}